.about {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding-top:0;
}

.about .body {
  text-align: center;
}

.about .title img {
  width: 250px;
}

.about .copyright {
  font-size: smaller;
}

.about .copyright a {
  text-decoration: none;
  font-weight: normal;
  color: black;
}
