html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto';
  /* Added for blockly right clicks. They cause a scrollbar to show.*/
  overflow: hidden;
}

section {
  flex-grow: 1;
  display: flex;
}

footer {
  position: fixed;
  bottom: 10px;
  right: 20px;
  font-size: smaller;
  color: #0e7ece;
  font-weight: bold;
}

footer a {
  color: #0e7ece;
  text-decoration: none;
  cursor: pointer;
  background-color:white;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.splash {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.main .page-host {
  display: flex;
  flex-grow: 1;
}
