html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    /* Added for blockly right clicks. They cause a scrollbar to show.*/
    /*overflow: hidden;*/
}

section {
    flex-grow: 1;
    display: flex;
    padding-top: 4em;
}

footer {
    position: fixed;
    bottom: 10px;
    right: 20px;
    font-size: smaller;
    color: #0e7ece;
    font-weight: bold;
}

footer a {
    color: #0e7ece;
    text-decoration: none;
    cursor: pointer;
    background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 300;
}

input {
    padding: 0.5em;
    margin: 0.5em 0.75em;
    width: 100%;
    border-radius: 2px;
    border: 1px solid #CCC;
}

label {
    font-size: small;
}

.flex {
    display: flex;
}

.flex-v-center {
    align-items: center;
}

.flex-space {
    justify-content: space-between;
}

.flex-bottom {
    align-items: baseline;
}

.flex-grow {
    flex-grow: 1;
}

.margin-right {
    margin-right: 1em;
}

.pad-1x {
    padding: 1em;
}

.btn {
    cursor: pointer;
    border: 1px solid #49acfe;
    cursor: pointer;
    text-decoration: none;
    color: #0e7ece;
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
    transition: all 0.4s;
    margin-bottom: 1.5em;
    padding: 0.5em 0.75em;
    border-radius: 10px;
    font-weight: 300;
    box-shadow: 5px 5px 20px -8px #13466a;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn:hover {
    color: #333;
    border-color: #49acfe;
    box-shadow: 5px 5px 35px -8px #13466a;
}

.btn-link {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
    margin: 0;
    padding: 0.1em 0.4em;
    box-shadow: none;
    font-size: inherit;
    margin-right: 1em;
}

.btn-tab {
    border-radius: 0;
    border-width: 0;
    border-bottom-width: 2px;
    border-color: white;
    margin: 0;
    padding: 0.75em 1.25em;
    box-shadow: none;
    font-size: inherit;
}

.btn-tab-selected {
    color: #333;
    border-width: 1px;
    border-bottom-width: 2px;
    border-color: #49acfe;
}

.btn-tab-container {
    border-bottom: 2px solid #49acfe;
}

.btn-disk {
    padding: 0;
    margin-right: 1em;
    width: 35px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.btn-link:hover {
    box-shadow: 0px 1px 6px -1px #49acfe;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
}

.main .page-host {
    flex-grow: 1;
}