nav-bar {
    background-color: white;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 1em;
    background-color: white;
}

.links-constrained {
    display: none;
}

.links-constrained button {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10000;
    padding: 1.5em 2em;
    background-color: white;
    border: 0;
}

.navigation .links-menu {
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    z-index: 1000;
    right: 0px;
    top: 0px;
    left: 0px;
    bottom: 40px;
    height: 100%;
}

.navigation .links-menu .link-set {
    border-left: 1px solid #0095ff;
    background-color: white;
    height: 100%;
    padding: 2em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.navigation .links-menu .link-set .link {
    justify-content: flex-start;
}

.navigation .logo img {
    height: 60px;
    margin-left: 1em;
    padding-bottom: 5em;
}

.navigation .links {
    flex-grow: 1;
}

.navigation .btn span {
    margin-left: 1em;
}

.navigation .help-icon {
    padding: 1em;
}

.navigation .help {
    text-align: right;
    margin-right: 1em;
    flex-grow: 1;
}

.navigation .disabled {
    color: #bdbdbd;
    border-color: #bfe2ff;
}

@media (max-width: 800px) {
    .heading {
        display: none;
    }
    .links-constrained .btn {
        border: 0;
        box-shadow: none;
        font-size: 1em;
        border-bottom: 1px solid #d8d9db;
        border-radius: 0;
    }
    .links-constrained {
        display: block;
    }
}