.scan {
  justify-content: center;
}

.scan .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scan .btn {
  font-size: 1em;
  margin: 1em;
  background-color: white;
  border: 1px solid #BDBDBD;
  padding: 1em;
  cursor: pointer;
  transition: all 0.3s;
}

.scan .btn:hover {
  color: #0e7ece;
}

.scan .scan-icon {
  position: relative;
  height: 100px;
}

.scan .scan-icon i {
  font-size: 35px;
  color: #0e7ece;
}

.scan .bot {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid #bdbdbd;
}

.scan .bot:hover {
  color: #0e7ece;
  border-color: #0e7ece;
}

.scan .bot img {
  height: 2em;
  margin-right: 2em;
}

.scan .bot .name {
  font-size: 3em;
  flex-grow: 1;
}

.scan .connect .bot {
  border-bottom: none;
}

.scan .connect .bot:hover {
  color: inherit;
  border-color: inherit;
}
