.scan {
  justify-content: center;
}

.scan .list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scan .btn:hover {
  color: #0e7ece;
}

.scan .scan-icon {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  padding: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scan .scan-icon-disabled {
  border: 0;
  box-shadow: none;
  color: #b144bc;
}

.scan .bot {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-width: 2px;
  min-height: 50px;
  border-color: #49acfe;
}

.scan .bot img {
  height: 2em;
  margin-right: 2em;
}

.scan .bot .name {
  font-size: 3em;
  flex-grow: 1;
  font-weight: 300;
}

.scan .connect .bot {
  border-bottom: none;
}

.scan .connect .bot:hover {
  color: inherit;
  border-color: inherit;
}
