.settings .body {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.settings .api {
  flex-grow: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.settings .api article {
  margin: 1em 3em;
  min-width: 300px;
}

.settings .api .btn {
  margin-top: 1em;
  font-size: 0.75em;
  background: white;
  border-radius: 2px;
}

.settings .api .btn i {
  margin-right: 0.75em;
}

.settings .api .btn .active{
  color: #283593;
}
